root = true

[*]
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
max_line_length = 100
trim_trailing_whitespace = true

[*.md]
max_line_length = 80
trim_trailing_whitespace = false

[LICENSE*]
indent_style = space

[*.ui]
indent_size = 2
indent_style = space

[*.xml]
indent_size = 2
indent_style = space

[*.yml]
indent_size = 2
indent_style = space

[*.rst]
indent_size = 4
indent_style = tab
max_line_length = 80
