# Ignore build directory
/build
/.build
/.installation

# Ignore CMake-generated config files
/engine/Config.h
/tools/Config.h

# Ignore python stuff
__pycache__

# Ignore C# stuff
/tools/**/bin
/tools/**/obj
/tools/**/Obj
/tools/**/TestResults
/tools/**/test-results
/tools/**/*.csproj.user
/tools/**/*.suo
/tools/**/*.cache
/tools/**/*~
/tools/**/*.swp
/tools/**/*.userprefs
/tools/**/*.pidb

# Ignore some third party dirs
/third/physx/*/include
/third/physx/*/lib
