# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

*.c   eol=lf
*.cpp eol=lf
*.h   eol=lf
*.hpp eol=lf
*.lua eol=lf
*.sh  eol=lf
*.txt eol=lf
*.md  eol=lf
*.in  eol=lf
*.rb  eol=lf
makefile eol=lf

*.sln text eol=crlf
*.bat text eol=crlf

*.so  binary
*.dll binary
*.exe binary
*.png binary
*.tga binary
*.dds binary
*.ktx binary
*.pvr binary
*.wav binary
*.ogg binary

*.config           eol=lf
*.font             eol=lf
*.level            eol=lf
*.material         eol=lf
*.mesh             eol=lf
*.package          eol=lf
*.physics_config   eol=lf
*.physics          eol=lf
*.shader           eol=lf
*.sound            eol=lf
*.sprite_animation eol=lf
*.sprite           eol=lf
*.texture          eol=lf
*.unit             eol=lf
