# Ignore build directory
/build
/.build
/.installation

# Ignore CMake-generated config files
/engine/Config.h
/tools/Config.h

# Ignore python stuff
__pycache__

# Ignore C# stuff
bin
obj
Obj
TestResults
test-results
*.csproj.user
*.suo
*.cache
*~
*.swp
*.userprefs
*.pidb

# Ignore some third party dirs
/third/physx/*/include
/third/physx/*/lib
