.wy-side-nav-search > div.version {
	font-weight: bold;
	font-size: larger;
	color: #d9d9d9;
}

.wy-side-nav-search {
	background-color: #343131;
}

.wy-nav-top {
	background-color: #343131;
}

.wy-menu-vertical summary.caption {
	color: #55a5d9;
	line-height: 32px;
	padding: 0 1.618em;
	margin-top: 12px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 85%;
	white-space: nowrap;
	cursor: pointer;
}

@media screen and (min-width: 1000px) {
	.wy-nav-side, .wy-grid-for-nav {
		margin-left: calc(((100vw - 1000px) / 2));
	}
}
