<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <!-- For ConsoleServer -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:hasCode="true"
        android:label="My Application">
        <activity
            android:name="com.example.myapplication.CrownActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_crown"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

            <!-- Tell NativeActivity the name of our .so -->
            <meta-data
                android:name="android.app.lib_name"
                android:value="crown" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
