/* style.css */

.console-view {
	font: 12px "Monospace";
}

.level-tree-view {
	font: 12px "Sans";
}

.level-layers-view {
	font: 12px "Sans";
}

.properties-view {
	font: 12px "Sans";
}

.statusbar {
	background-color: rgb(76, 76, 76);
	font: 11px "Sans";
	min-height: 22px;
	padding-left: 12px;
}

.axis {
	min-width: 22px;
	font-weight: bold;
	border-radius: 4px 0px 0px 4px;
}

.axis.x {
	background: rgba(120, 0, 0, 0.8);
}

.axis.y {
	background: rgba(0, 120, 0, 0.8);
}

.axis.z {
	background: rgba(0, 0, 120, 0.8);
}

.axis.w {
	background: rgba(120, 120, 120, 0.8);
}
